*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root{
	--primary:#06a3da;
}
.nav-section ul li :hover a{
	opacity: 1;
	border-bottom: 5px;
}
.nav-section  a{
	color: white;
	border-bottom: 100px!important;
	border-color: blue !important;
}
.nav-item  a{
	color: white !important;
/*	border: 5px solid blue;*/
}
.contact-bar{
	background: #202c45;
	color: white;
}
.nav-one{
	background-color: #091E3E;
}
.social a i{
	background: white;
	color: black;
}
.social i:hover{
 background: #202c45;
color: blue;
}
.nav-section{
	position: sticky;
	z-index: 1000;
	
} 
.head-icon{
	color: white;
}
.nav-section nav{
	background: transparent !important;
	z-index: 1000;
}
.nav-section ul a{
	color: white;

}
@media (min-width:460px){
	.nav-section ul a{
		color: black;
	}
}

.carousel-caption span:hover{
	background: white;
	color: black !important;
}
.carousel-caption a:hover{
	color: black !important;
}
.carousel .carousel-caption{
	position: absolute;
	top: 50%!important;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
}
.carousel{
	position: relative;
	top: -60px;
}
.carousel-item .hide{
	background: rgba(9, 30, 62, .7);
	position: absolute;
    width: 100%;
	height: 100%;
	z-index: 2;
}
.nav-section .nav-item:hover{
	border-bottom: 2px solid blue;
}
.nav-section .nav-item{
	border: 2px solid transparent;
}

.happy{
	background: var(--primary);
}
.sec-4 .container{
	position: relative;
	top: -120px;
	z-index: 3;
}
@media(max-width:990px){
	.sec-4 .container{
		margin-top:80px ;
	}
}
.animation{
	background: var(--primary);
	width: 150px;
	height: 4px;
	position: relative;
}
.animation:before{
	content: "";
	background: white;
	width: 30px;
	height: inherit;
	position: absolute;
	animation: run 5s linear infinite;
}
@keyframes run{
	0%{
		left: 0;
	}
	50%{
		left: 120px;
	}
	100%{
		left: 0;
	}
}
.btn{
	width: 200px !important;
	height: 50px !important;
	color: white;
	line-height: 40px;
	border-radius: 0;
}

.phone{
	width: 60px;
	height: 60px;
/*	text-align: center;*/
}
.phone i{
	text-align: center;
/*	line-height: 60px;*/
}
.sec-7-icon{
	width: 70px !important;
	height: 70px;
	background: var(--primary);
	transform: rotate(45deg);
}
.sec-7-icon i{
 	transform: rotate(-45deg);
 }
 .our-service-main{
 	position: relative;
 }
 .arrow{
 	position: absolute;
 	bottom: calc(-38% + 50px);
 	left: calc(45% - 25px);
 	width: 50px;
 	height: 50px;
 	opacity: 0;
 	transition: .5s linear all;
 }
 .our-service-main:hover .arrow{
 	bottom: calc(20% - 50px);
 	opacity: 1;
 }
 .sec-9 .sec-9-phone-icon {
 	width: 60px !important;
 	height: 60px !important;
 	font-size: 5px !important;
 	background: var(--primary);
 	text-align: center;

 }
 .sec-9 .sec-9-phone-icon i{
 	font-size: 30px;
 }
 .sec-9 button{
 	width: 100% !important;
 }
 .sec-10 .card-1-img{
 	position: relative;
 }
.sec-10 .card-1-img:before{
	position: absolute;
     content: "";
     width: 100%;
	height: 100%;
	background:rgba(9, 30, 62, .7) ;
	opacity: 0;
	transition: .5s all linear;
}
.card-1-img .card-1-icons{
	position: absolute;
	top: calc(50%);
	left: calc(35%);
	opacity: 0;
	transition: 1s all linear;
}
.card-1:hover .card-1-img:before{
	opacity: 1;
}
.card-1:hover .card-1-icons{
	opacity: 1;

}
.sec-11-footer{
	background:#091E3E;
}
.sec-11 .myDContainer{
	margin-bottom: -75px;
}
.navbar-brand{
	color:#091E3E;
}

